#.gitignore

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtual env
venv/
env/
.venv/

# Terraform
.terraform/
**/.terraform/
*.tfstate
*.tfstate.*
crash.log

# Local variable overrides
terraform.tfvars
*.tfvars

# Ignore provider binaries inside modules
modules/**/.terraform/


# packages
dist/
build/
*.egg-info/
terraform/.terraform.lock.hcl
terraform/modules/s3_bucket/.terraform.lock.hcl

# logs
*.log
/temp
.idea/vcs.xml
/.idea
