#.gitignore

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# virtual env
venv/
env/
.venv/

# Terraform local variable overrides
terraform.tfvars
*.tfvars

# packages
dist/
build/
*.egg-info/